/*
Sylin' Madness

Creative Commons Attribution License 3.0 (CCBY)  2009  Anselm Levskaya
http://creativecommons.org/licenses/by/3.0/us/

Author: Anselm Levskaya
Author URI: http://anselmlevskaya.com/blog/
*/
/*
a:link {color: #008;}
a:visited { color: #888;}
a:hover { color: #f00;}
a:active { color: #900;}
*/

img{display: block;
    margin-left: auto;
    margin-right: auto; }

blockquote { text-align:justify; text-justify:inter-character;}

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
  padding:0 2px;
}

/*----- Element Styles -----*/
.clear 	{ clear:both; }
.clearfix:after	{ content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.hide { display: none; }
.hidden { display: none; }
.placeholder {visibility: hidden; font-size:0px;}

.masthead {
    background: url(../images/masthead3.png) no-repeat top center;
}

canvas {
  margin-top:1em;
  margin-bottom:1em;
  margin-right:auto;
  margin-left: auto;
  display:block;
}

.header {
    height:100px;
    text-align:center;
    margin-top:40px;
}
.subheader {
    display:block;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    font-size:1em;
    font-variant: small-caps;
    letter-spacing: 0.3em;
}
.marginspacer {
    float:left;
    clear:left;
}
.marginnote {
    font-family: "Georgia", serif;
    float:left;
    clear:left;
    margin-right:auto;
    margin-left:auto;
    max-width:170px;
    font-size:.8em;
    line-height: 1.3em;
    text-indent:0em;
}

figure.code > figcaption { display: none; }

img.teximg {text-align:center;}

.post {
    font-size:16px;
    .title {
        position:relative;
        font-size:1.6em;
        display:inline;
        padding-right:10%;
        margin: 0 0 1em 0;
    }
}

.comments {
    font-size: 1.2em;
}

footer {
    font-family:
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}





