---
title: Ontological Warfare
description: A shore littered with shipwrecks.
extends: front.j2
listable: false
---


{% block colL %}

<article>
   <h3><a href="about.html">colophon</a></h3>
   <!--<p style="position:relative;left:10px;font-size:80%;">{{res.meta.description}}</p>-->
   </article>

{% endblock %}


{% block colR %}

{% from "macros.j2" import render_excerpt with context %}
{% for res in site.content.walk_resources_sorted_by_time() %}
  {% if res %}
  {% if res.meta.listable %}
    {{ render_excerpt( res, 'post') }}
  {% endif %}
   {% endif %}
{% endfor %}

{% endblock %}

