---
title: Ontological Warfare
description: A shore littered with shipwrecks.
extends: front.j2
listable: false
---

{% block colL %}

<h3><a href="/colophon">colophon</a></h3>
<h3><a href="https://github.com/levskaya/OW">source</a></h3>
<h3><a href="/atom.xml">rss</a></h3>

{% endblock %}

{% block colM %}

{% from "macros.j2" import render_excerpt with context %}
{% for res in site.content.walk_resources_sorted_by_time() %}
  {% if res %}
  {% if res.meta.listable %}
    {{ render_excerpt( res, 'post') }}
  {% endif %}
   {% endif %}
{% endfor %}

{% endblock %}

{% block colR %}

{# {% include "twitter.j2" %} #}

{% endblock %}

