{% extends "general.j2" %}
{% from "macros.j2" import breadcrumb with context  %}

{% block container %}
<div class="row">
  <div class="span16" style="height:50px;position:relative;">
    {% block topofpage %}
    {{ breadcrumb(resource) }}
    {% endblock topofpage %}
    <img src="{{ media_url('images/snakewrap.svg') }}" style="height:300px;position:absolute;left:0px;float:left;top:5px;opacity:.1;z-index:-10;">
  </div>
</div>

<div class="row">
  <div class="span3">
    &nbsp;
  </div>
  <div class="span13">
    <h1> {{ resource.meta.title }} <small>{{ resource.meta.subtitle }}</small></h1>
    <!-- <span class="subheader"><p>{% block subheading %}{% endblock %}</p></span> -->
  </div>
</div>

<div class="row">

  <!-- Left Column
       ================================================== -->
  <div class="span4">
    <div class="leftcolumn">
      {% block sidebarL %}
      <br>
      {% endblock sidebarL %}
    </div>
  </div>

  <!-- Main Column
       ================================================== -->
  <div class="span12">
    {% block main %}

    No content.

    {% endblock %}
  </div>
</div>
{% endblock %}
