{% extends "general.j2" %}

{% block container %}

<!-- Beginning of Masthead --------------------->
<!--
<div class="header masthead">

  <div class="row">
    <div class="span4">
      <span class="titleL" style="height:120px;"><p>O</p></span>
    </div>
    <div class="span8"> <br> </div>
    <div class="span4">
      <span class="titleR" style="height:120px;"><p>W</p></span>
    </div>
  </div>

</div>
-->

<img src="{{ media_url('images/snakewrap.svg') }}" style="height:300px;position:absolute;left:250px;float:lefttop:0px;opacity:.1;z-index:-10;">
<div class="row">
  <div class="span16" style="height:100px;">
    &nbsp;
</div></div>

<div class="row">
  <div class="span3">
<!--    <img src="{{ media_url('images/snakewrap.svg') }}" --
  --    style="height:100px;position:relative;left:70px;top:10px;">
style="position:relative;top:38px;left:10px;"
-->
&nbsp;
  </div>
  <div class="span13">
     <h1> {{ resource.meta.title }} </h1>
   <!-- <span class="subheader">
      <p>{% block subheading %}{% endblock %}</p>
    </span>
     -->
  </div>
</div>


<div class="row">
  <!-- Left Column
       ================================================== -->
  <div class="span4">
    <div class="leftcolumn">
      {% block sidebarL %}
      <br>
      {% endblock sidebarL %}
    </div>
  </div>

  <!-- Main Column
       ================================================== -->
  <div class="span12">
    {% block main %}

    No content.

    {% endblock %}
  </div>
</div>
<!--
  </div>
  <div class="span1">
    <p>
      <small>foobar</small>
    </p>
  </div>
</div>
-->
 {% endblock %}

<footer>
{% block footer %}
{% endblock footer %}
</footer>
