{% extends "base.j2" %}

{% block main -%}
<!--<article class="post">-->

<!--<h1><a href="{{ content_url(resource.url) }}"> {{ resource.meta.title }}  </a></h1>-->

{% filter markdown -%}

{% mark post -%}

{% block post -%}
{%- endblock %}

{%- endmark %}

{%- endfilter %}

<!--</article>-->

{%- endblock %}

{# {% block sidebar %} {% endblock %} #}




