{% extends "base.j2" %}

{% block main -%}
<article class="post">
  {% filter markdown -%}
    {% mark post -%}
      {% block post -%}{%- endblock %}
    {%- endmark %}
  {%- endfilter %}
</article>
{% include "disqus.j2" %}
{%- endblock %}

{# {% block sidebar %} {% endblock %} #}
