{% if site.meta.usedisqus %}
<div id="disqus_thread"></div>
<style>
/* remove unnecessary disqus cruft from view */
.dsq-comment-header{background:none !important; border:none !important;}
.dsq-post-tools, .dsq-button, .dsq-textarea-background{ background:none !important;}
#dsq-like-thread-button .dsq-toolbar-label, #dsq-subscribe, #dsq-sort-select, .dsq-trackback-url, .dsq-brlink {display:none !important;}
</style>
<script type="text/javascript">
    {% if site.config.mode == "development" %}
    var disqus_developer = 1; // developer mode is on
    {% endif %}
    var disqus_shortname = 'ontologicalwarfare';
    var disqus_identifier = "{{ resource.url }}";
    var disqus_url = "{{ "http://ontologicalwarfare.com"~resource.url }}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

