---
title: PolyHédronisme
subtitle: topological operators in spherical geometry
description: >
   A tool to explore the conway polyhedral operators and the vast
   family of the polyhedra.
extends: blog.j2
libs: ["basics"]
---

{% block ULwatermark %}
<img src="{{ media_url('images/polyhedronisme-kknnnnnnnnnD.png') }}" style="height:300px;position:absolute;left:-50px;float:left;top:5px;opacity:.1;z-index:-10;">
{% endblock ULwatermark %}

{% block post %}

<span class="firstcharacter">P</span>olyhedra have captured the
imagination...


{% endblock post %}

[madpattern]: http://madpattern.com/
